.materia {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
}

.materia_titulo {
	font-weight: bold;
	width: 70%;
}

.materia_subtitulo {
	font-weight: bold;
	width: 70%;
}

.imagem_materia {
	margin-top: 2rem;
	margin-bottom: 2rem;
	box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.5);
	width: 50%;
}

.imagem_materia_corpo {
	width: 40%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.5);
}

.materia_assunto {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
}
.materia_texto {
	display: flex;
	align-items: flex-start;
	width: 70%;
}

.materia_lista {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	width: 70%;
}
.item_lista {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;

}

